/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}


/* Utilities */
.container {
  margin: auto;
  max-width: 1140px;
  overflow: auto;
  padding: 0 20px;
}


/* Navbar */
#navbar {
  background: #000;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
  text-decoration: none;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  
}