body {
    background-color: lavenderblush;
    font-family: serif;
}

h1 {
    color: lightcoral;
    font-size: 60px;
}

p {
    font-family: serif;
    font-size: 20px;
}

figure {
    color: white;
}

ul {
    color: white;
}