* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    text-rendering: optimizeLegibility;
    font-family: 'Mukta', 'Roboto' sans-serif, Arial;
    font-weight: 300;
    font-size: 20px;
}

/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
  }


/* ----- HEADINGS ----- */

h1 {
  color: #fff;
  float: left;
  margin-top: 30px;
  font-size: 300%;
  font-family: 'Roboto'; 
  font-weight: 300;
  letter-spacing: 1px;
}

h2 {
  margin-top: 45px;
  text-align: center;
  font-size: 300%;
}


/* ----- LINKS ----- */

a {
  text-decoration: none;
  color: blue;
}


body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 33px;
}

.main-nav li {
   display: inline-block;
   margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ffffff;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



/* ------------------------------ */
/* FAQs */
/* ------------------------------ */

.faqs {
  margin-top: 35px;
}
